html{
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height:100%;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 26px;
}

  body {
    background: none repeat scroll 0 0 #fff;

    width: auto;
    margin: 0 auto;
  }

  h1 {

    font-size: 70px;
    text-align: center;
    margin-top: 150px;
  }

  .username_form {
    text-align: center;
    position: absolute;
    text-align: center;
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 36px;
  }

  .username_form input {
    margin-top: 10px;
    letter-spacing: 0px;
    text-align: left;
    border: none;
  }


  .choices_container{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 50px;

    margin-left: 10%;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
  }
  .options {
    text-align: left;
    display: block;
    font-size: 30px;
    padding: 1px 0px 3px 10px;
    width: 40%;
    margin: 10px;
    border-radius: 5px;
    margin-left: 35%;
    transition: background-color 0.5s ease;
  }

  [type="radio"]:not(:checked)+span, [type="radio"]:checked+span{
    font-size: 30px;
  }

  [type="radio"]+span:before, [type="radio"]+span:after {
    width:20px;
    height:20px;
  }

  .button {
    margin-top: 20px;
    background-color: #008CBA;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 10px;
    margin-bottom: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 26px;
  }

  .title{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size:60px;
  }

  .options:hover{
    background-color:#e0e1e2;
    cursor: pointer;
  }

  .desc{
    font-size:20px;
    margin-top: 20px;
    width:80%;
    margin-left: 10%;
  }

  .jumbotron{
    background-color:#f7f9fc;
    margin-bottom: 0;
    height: 800px;
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2), 0 14px 25px 0 rgba(0, 0, 0, 0.19);
  }

  #main {
    border-radius: 40px;
  }

  .back img {
    height:30px;
  }

  #diff p{
    margin-top:15px;
    margin-left:35px;

  }

  #n {
    width:50%;
    margin-top: 50px;
    margin-bottom: 70px;
  }

  #screenshot{
      width:80%;
      margin-left: 10%;
      margin-top: 20px;

  }

  .gameinfo{
    margin-left: 20px;
    top: -20px;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 26px;
  }

  .choices {
    text-align: left;
    display: block;
    font-size: 30px;
    padding: 1px 0px 3px 10px;
    width: 100%;
    margin: 10px;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 26px;
    border-radius: 5px;
    margin-left: 0%;
    transition: background-color 0.5s ease;
  }

  #game {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .resultscontainer {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 26px;
    height:1000px;
    width:70%;
    margin-left: 15%;
    padding-top:50px;
    text-align: center;

  }

  .popup{
    visibility:hidden;
    position:absolute;
    background:#ffffff;
    width:50%;
    height:50%;
    left:25%;
    top: 25%;
    border-radius: 20px;
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2), 0 14px 25px 0 rgba(0, 0, 0, 0.19);

  }

  .active{
    visibility:visible;
    text-align:center;
  }
